// GENERIC ELEMENTS

body
  min-height: 100vh
  height: 100%
  min-width: 1200px
  padding: 0
  margin: 0
  font-family: 'SFNS', sans-serif

hr
  border-top: 1px black solid
  border-bottom: 0px black solid

h5
  //margin: 0
  line-height: 1

h1, h2
  letter-spacing: 1px
  color: rgba(0,0,0,0.4)
.huge
  font-size: 4em
 
.big
  font-size: 1.5em
  
.row
  margin: 0 !important
  
table
  width: 100%
  
  tr
    height: 30px
    border-bottom: 1px rbga(0,0,0,0.8) solid !important
    
    th
      background: #F9BF3B !important
    
    td, th
      padding-left: 30px
      &:first-child
        width: 30%
  
progress
  height: 10px
  width: 90%
  background: #fff
  border-radius: 10px
  
  &::-webkit-progress-bar
    background: #E9D460
    border-radius: 10px
  &::-webkit-progress-value
    background: #E67E22
    border-radius: 10px

///////////////////////////////////////////////////////////
//  HELPER CLASSES
///////////////////////////////////////////////////////////


.inline
  display: inline-block !important

.fill
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0


.content
  position: relative
  width: 100%


.valign-center
  display: flex
  align-items: center
  justify-content: space-between

.centered-text
  position: relative
  width: 100%
  text-align: center

.lr-padded-50
  padding-left: 50px !important
  padding-right: 50px !important

.lr-padded-20
  padding-left: 20px !important
  padding-right: 20px !important

.padded-50
  padding: 50px !important

.padded-30
  padding: 30px !important

.padded-20
  padding: 20px !important

.rounded-corner
  border-radius: 7px

.debug
  border: 1px red solid

.shadow-heavy
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5)

.large-paragraph
  line-height: 1.7


.vertical-spanner
  position: relative
  display: block
  height: 200px

.vertical-spanner-100
  position: relative
  display: block
  height: 100px


.centered-div
  position: relative
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.ht-50
  height: 50px

.ht-80
  height: 80px

.ht-100
  height: 100px

a.white-link
  text-decoration: none
  color: white
  &:hover
    color: #e74c3c

.white-circle
  position: relative
  width: 100px
  height: 100px
  display: block
  margin-top: 20px
  margin-bottom: 20px
  background: #fff
  border-radius: 50%
  border: 1px #777 solid

.shadow-heavy
  box-shadow: 0px 0px 10px rgba(50,50,50,0.4)

.heading-bar
  width: 100%
  padding: 10px
  padding-left: 30px
  background: #006064
  color: white
  
.fl
  float: left

.fr
  float: right
  
.flex-right
  display: flex
  justify-content: flex-end
  
.arrow-down-div
  width: 0
  height: 0
  border-left: 20px transparent solid
  border-right: 20px transparent solid
  border-top: 40px #F9BF3B solid
  z-index: 2
  //box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
  
.transparent
  background: transparent
  
.semi-trans
  background: rgba(255,255,255,0.7)
  
///////////////////////////////////////////////////////////////////////
// SPECIFIC ITEMS
///////////////////////////////////////////////////////////////////////

.navbar
  position: relative
  width: 100%
  height: 620px
  overflow: hidden
  z-index: 1
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5)
  background:
    color: #F9BF3B
    image: url('../images/self_low_poly_bw.png')
    size: auto 500px
    position: bottom right
    repeat: no-repeat
    
  ul li
    display: inline-block
    a
      color: rgba(0,0,0,0.6)
      text-decoration: none
      margin-left: 50px
      padding-bottom: 10px
      
      i
        margin-right: 10px

      &:hover, &:focus
        color: rgba(0,0,0,0.9)
        border-bottom: 5px white solid

    img
      max-height: 40px
  p
    font-size: 1.5 em
    line-height: 1.25 em
      
ul.tagline-design
  li
    display: block
    margin: 0
    padding: 0
    //font-family: sans-serif
    font-weight: 900
    font-size: 4em
    line-height: 0.8em
    color: rgba(0,0,0,0.3)
    &:first-letter
      color: rgba(242, 120, 75, 0.7)
    

#content-div-1
  position: relative
  margin-top: -40px
  min-height: 640px
  z-index: 0
  background:
    color: #ECECEC
    image: url('../images/elephant.png')
    size: auto 300px
    position: center left
    repeat: no-repeat
    attachment: fixed
    


#content-div-2
  position: relative
  z-index: 1
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5)

.brand-name
  display: flex
  align-items: center
  margin: 0
  padding: 0
  li a
    margin-right: 0px

.hul-text
  max-height: 20px

.hero-image
  position: relative
  width: 100%
  height: 400px
  background:
    image: url('images/bg_0.jpg')
    position: bottom center
    attachment: fixed
    size: 100%

#hul-text
  height: 20px

.vert-menu
  margin-bottom: 50px
  ul
    margin: 0
    border: 1px #777 solid
    border-radius: 5px
    li
      margin: 0
      display: block
      padding: 10px
      padding-left: 30px
      padding-right: 30px

      border-bottom: 1px #777 solid
      a
        color: #006064
        text-decoration: none

      &:hover, &:focus
        background: #006064
        a
          color: white
      &:last-child
        border-bottom: 0px #777 solid

ul.navbar-links
  width: 100%
  display: flex
  justify-content: flex-end
  li
    display: inline-block
    padding: 5px
    a
      margin-left: 30px

ul.tabbar-links
  width: 100%
  display: flex
  justify-content: space-around


img.profile-pic
  border: 2px #777 solid


table.profile-data-table
  tr
    td
      padding-right: 50px
    td:first-child
      width: 20%
      text-align: right
      padding-right: 30px

.treeview
  width: 100%
  padding-left: 30px


#errorMessageDiv
  postion: fixed
  top: 0
  left: 0
  width: 100%