doctype html
html
  head
    title Portfolio::GnsP
    link(rel='stylesheet', href='css/picnic.css')
    link(rel='stylesheet', href='css/grid.css')
    link(rel='stylesheet', href='css/font.css')
    link(rel='stylesheet', href='css/icons/style.css')
    
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular/angular.js')

  body
    .navbar
      .row.ht-80.lr-padded-50.valign-center.flex-right
        ul.fr
          li: a(href='#!') About
          li: a(href='#!') Projects
          li: a(href='#!') Blog
          li: a(href='#!') Gallery
          li: a(href='#!') Contact
      .vertical-spanner-100
      .row.ht-80.lr-padded-50.valign-center
        h1 GnsP.github.IO
          