doctype html
html
  head
    title Portfolio::GnsP
    link(rel='stylesheet', href='css/picnic.css')
    link(rel='stylesheet', href='css/grid.css')
    //link(rel='stylesheet', href='css/font.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/icons/style.css')
    link(rel='stylesheet', href='css/style.css')
    
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular/angular.js')

  body
    .navbar
      .row.lr-padded-50
        .col.s4.valign-center.ht-100
          h1(style='color:white'): i.icon_grid-3x3
        .col.s8.valign-center.flex-right.ht-100
          ul.fr
            li: a(href='#!') <i class='icon_profile'></i> About
            li: a(href='#!') <i class='icon_puzzle_alt'></i> Projects
            li: a(href='#!') <i class='social_blogger'></i> Blog
            li: a(href='#!') <i class='icon_image'></i> Gallery
            li: a(href='#!') <i class='icon_phone'></i> Contact
      .row.valign-center
        .col.s4
          ul.tagline-design
            li I.
            li EAT.
            li SLEEP.
            li IMAGINE.
            li &nbsp;
            li DREAM.
            li AWESOME
            li SH*T!
        .col.s8
          .vertical-spanner-100
          .row.ht-80.valign-center
            h1.huge(style=';position:relative;left:-25px') <b style='font-weight:400;color:white'>GnsP</b>.github.IO
          .row
            .col.s8.lr-padded-50(style='border-left:2px white solid')
              p(style='font-size:1.1em').
                My name is <b style='color:white'>Ganesh Prasad Sahoo</b> and I am an under-graduate student
                of the Department of Computer Science and Engineering at <a style='color:white' href='http://nitrkl.ac.in'>
                National Institute of Technology, Rourkela, India </a>.
                <br> 
              p(style='font-size:1.2em; color:rgba(0,0,0,0.5)').
                I <b>DESIGN, CODE, PAINT, BLOG</b> and <b>WRITE POEMS</b>.
                
                
    .row.centered-div.transparent
      .arrow-down-div
    
    #content-div-1
      .vertical-spanner-100
      .row
        .col.s3.centered-div
          p &nbsp;
        .col.s9.lr-padded-50.semi-trans.shadow-heavy
          h1 About me
          p.
            My name is <b style='color:#F5AB35'>Ganesh Prasad Sahoo</b> and I am a student
            of Computer Science and Engineering at National Institute of Technology,
            Rourkela, India.
             
          p.
            I am a 23 years old resident Indian citizen. I like reading novels, short-stories,
            painting, making 3D scenes in Blender, writing poems and articles and playing FPS games.  
            
          h2 Primary Skills
          table
            tr
              th: b SKILL
              th: b LEVEL
            tr
              td C/C++
              td: progress(value='90', max='100')
            tr
              td Python
              td: progress(value='85', max='100')  
            tr
              td Javascript
              td: progress(value='80', max='100')
            tr
              td PHP
              td: progress(value='65', max='100')
            tr
              td SQL
              td: progress(value='80', max='100')
            tr
              td OOP 
              td: progress(value='95', max='100')
          
          h2 Other Skills
          h4 Web Technologies
          b.big: .label.warning.inline NodeJS
          b.big: .label.warning.inline AngularJS
          b.big: .label.warning.inline expressJS
          b.big: .label.warning.inline Mongoose
          b.big: .label.warning.inline HTML5
          b.big: .label.warning.inline CSS3
          b.big: .label.warning.inline Jade
          b.big: .label.warning.inline SASS
          b.big: .label.warning.inline MaterializeCSS
          b.big: .label.warning.inline JQuery
          b.big: .label.warning.inline Full Stack MEAN
          b.big: .label.warning.inline MySQL
          b.big: .label.warning.inline Redis
          b.big: .label.warning.inline Google APIs
          
          h4 Libraries, Tools and Languages
          b.big: .label.warning.inline SDL
          b.big: .label.warning.inline Boost
          b.big: .label.warning.inline Flex
          b.big: .label.warning.inline Bison
          b.big: .label.warning.inline Vala
          b.big: .label.warning.inline Gtk+ 3.0
          b.big: .label.warning.inline Pygame
          b.big: .label.warning.inline Java
          b.big: .label.warning.inline Haxe
          b.big: .label.warning.inline Ruby
          b.big: .label.warning.inline Prolog
          b.big: .label.warning.inline CommonLISP
          
          
          h4 Conceptual Skills
          b.big: .label.warning.inline Compiler Design
          b.big: .label.warning.inline Algorithms
          b.big: .label.warning.inline Data Structures
          b.big: .label.warning.inline Relational Algebra/Calculus
          b.big: .label.warning.inline Number Theory
          b.big: .label.warning.inline Cryptography
          b.big: .label.warning.inline Programming Language Design
          
          h4 Misc Tools
          b.big: .label.warning.inline Linux
          b.big: .label.warning.inline git
          b.big: .label.warning.inline Doxygen
          b.big: .label.warning.inline Make
          b.big: .label.warning.inline GIMP
          b.big: .label.warning.inline Inkscape
          b.big: .label.warning.inline Blender
          b.big: .label.warning.inline LaTeX
          
          .vertical-spanner-100
      .vertical-spanner-100
    #content-div-2.shadow-heavy
      .vertical-spanner-100
      .vertical-spanner-100
      .vertical-spanner-100
      .vertical-spanner-100
      .vertical-spanner-100
      .vertical-spanner-100
      .vertical-spanner-100
      
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
          