doctype html
html
  head
    title Portfolio::GnsP
    link(rel='stylesheet', href='css/picnic.css')
    link(rel='stylesheet', href='css/grid.css')
    link(rel='stylesheet', href='css/font.css')
    link(rel='stylesheet', href='css/icons/style.css')
    link(rel='stylesheet', href='css/style.css')
    
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular/angular.js')

  body
    .navbar
      .row.lr-padded-50
        .col.s4.valign-center.ht-100
          h1(style='color:white'): i.icon_grid-3x3
        .col.s8.valign-center.flex-right.ht-100
          ul.fr
            li: a(href='#!') <i class='icon_profile'></i> About
            li: a(href='#!') <i class='icon_puzzle_alt'></i> Projects
            li: a(href='#!') <i class='social_blogger'></i> Blog
            li: a(href='#!') <i class='icon_image'></i> Gallery
            li: a(href='#!') <i class='icon_phone'></i> Contact
      .row.valign-center
        .col.s4
          ul.tagline-design
            li I.
            li EAT.
            li SLEEP.
            li IMAGINE.
            li &nbsp;
            li DREAM.
            li AWESOME
            li SH*T!
        .col.s8
          .vertical-spanner-100
          .row.ht-80.valign-center
            h1.huge(style=';position:relative;left:-25px') <b style='font-weight:100;color:white'>GnsP</b>.github.IO
          .row
            .col.s8.lr-padded-50(style='border-left:1px white solid')
              p(style='font-size:1.2em').
                My name is <b style='color:white'>Ganesh Prasad Sahoo</b> and I am an under-graduate student
                of the Department of Computer Science and Engineering at <a style='color:white' href='http://nitrkl.ac.in'>
                National Institute of Technology, Rourkela, India </a>.
                <br> 
              p(style='font-size:1.2em; color:rgba(0,0,0,0.5)').
                I <b>DESIGN, CODE, PAINT, BLOG</b> and <b>WRITE POEMS</b>.
                
                
    .row.centered-div.transparent
      .arrow-down-div
    
    #content-div-1
      .vertical-spanner-100
      .row
        .col.s4
          &nbsp;
        .col.s8.lr-padded-50.semi-trans
          h1 About me
          p(style='font-size:1.2em'): emph.
            My name is <a style='color:#3498DB'>Ganesh Prasad Sahoo</a> and I am an under-graduate student
            of the Department of Computer Science and Engineering at National Institute of Technology,
            Rourkela, India.
            
          h2 Primary Skills
          table
            tr
              th: b SKILL
              th: b LEVEL
            tr
              td: b C++
              td: progress(value='90', max='100')
            tr
              td: b Python
              td: progress(value='85', max='100')  
            tr
              td: b Javascript
              td: progress(value='75', max='100')
            tr
              td: b PHP
              td: progress(value='60', max='100')
            tr
              td: b SQL
              td: progress(value='80', max='100')
            tr
              td: b MongoDB
              td: progress(value='85', max='100')
          
      
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
          