doctype html
html
  head
    title Portfolio::GnsP
    link(rel='stylesheet', href='css/picnic.css')
    link(rel='stylesheet', href='css/grid.css')
    link(rel='stylesheet', href='css/font.css')
    link(rel='stylesheet', href='css/icons/style.css')
    link(rel='stylesheet', href='css/style.css')
    
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular/angular.js')

  body
    .navbar
      .row.lr-padded-50.shadow-heavy
        .col.s6.valign-center.ht-100
          h1: i.icon_menu
        .col.s6.valign-center.flex-right.ht-100
          ul.fr
            li: a(href='#!') About
            li: a(href='#!') Projects
            li: a(href='#!') Blog
            li: a(href='#!') Gallery
            li: a(href='#!') Contact
      .vertical-spanner-100
      .row.ht-80.lr-padded-50.centered-div
        h1 <b style='font-weight:300;color:white'>GnsP</b>.github.IO
      .row.ht-50.lr-padded-50.centered-div  
        h3 <b style='font-weight:300;color:white'>Minimal &nbsp; Flat &nbsp; Simple</b>
          